<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageRoot}.mapper.${Entity}Mapper">

    <select id="queryById" parameterType="int" resultType="${packageRoot}.entity.${Entity}">
        SELECT * FROM ${entity} WHERE id = #id
    </select>

    <select id="queryAll" resultType="${packageRoot}.entity.${Entity}">
        SELECT * FROM ${entity}
    </select>

    <delete id="delete" parameterType="int">
        DELETE
        FROM ${entity}
        WHERE id = #{id}
    </delete>

    <update id="update">
        update ${entity}
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="balance != null">
                balance = #{balance},
            </if>
        </set>
        where id = #{id}
    </update>


    <insert id="insert" parameterType="${packageRoot}.entity.${Entity}" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file (parent, path, name, owner, suffix, identity, length, create_time, update_time, hash)
        VALUES (#{parent}, #{path}, #{name}, #{owner}, #{suffix}, #{identity}, #{length}, NOW(), NOW(), #{hash})
    </insert>

</mapper>